.about-container {
    height: 100vh;
    width: 100%;
    background-image: url("/project.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.about-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 1;
}


.about-content {
    position: relative;
    z-index: 2;
    width: 70%;
    color: white;
    text-align: center;
    animation: fadeUp 1.3s ease forwards;
}


.about-title {
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideDown 1.2s ease forwards;
}


.about-text {
    font-size: 18px;
    margin: 15px 0;
    line-height: 1.6;
    color: #e6e6e6;
    font-family: "Inter", sans-serif;
    margin: 10px auto;
    opacity: 0;
    animation: fadeIn 1.6s ease forwards;
}

.section-title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 50px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}


.about-subtitle {
    margin-top: 30px;
    font-size: 33px;
    font-weight: bold;
    opacity: 0;
    animation: slideDown 1.2s ease forwards;
}


.about-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.about-list li {
    margin: 10px 0;
    font-family: "Inter", sans-serif;
    color: #f0f0f0;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.nav-logo a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}


@keyframes fadeUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}